# requirements.txt

# Core Data Handling and Analysis
pandas
nltk
textblob

# Frontend Framework
streamlit

# Visualization (Core, Plotly, WordCloud)
matplotlib
seaborn
plotly
wordcloud

# Potential additions (like N-grams)
scikit-learn

